<div id="homeContent" align="center">
  <div class="newsBox">
    <h2><span>&middot;</span> News <span>&middot;</span></h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et massa sed odio pellentesque lacinia in nec eros. Curabitur mattis non tortor consequat mollis. Duis malesuada, libero eget laoreet sagittis, ante lacus varius metus, ornare iaculis mauris lacus ac est. Nullam sodales sollicitudin augue, sit amet laoreet lectus porttitor eu. Donec nec luctus tortor.</p>

    <p>Curabitur non elit sed ligula hendrerit vulputate. Proin tellus erat, gravida sit amet magna a, sagittis scelerisque nisl. Nunc mattis egestas sapien interdum malesuada. Integer efficitur accumsan mauris, dignissim vestibulum urna accumsan nec. </p>
  </div>
</div>

<script>

</script>
