#background-holder{
  height: 100vh;
  overflow: hidden;
  //opacity: 0;

  position: relative;
  width: 100%;
}

#cloud-holder{
  z-index: 1;
  img {
    max-height: 100vh;
    position: absolute;
    width: auto;
  }
}
