#homeContent {
  color: white;

  display: none;

  margin: 0 auto;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .newsBox {
    background: rgba(0,0,0,.7);
    left: 16%;
    position: absolute;
    width: 66%;

    h2 {
      font-family: 'Righteous';
      font-size: 2em;
      margin-bottom: 15px;
      padding: 15px;
    }

    p {
      font-family: 'Montserrat';
      letter-spacing: 1.5px;
      padding: 0px 15px 15px;
    }
    //background: rgba(170,170,170,.5);
    border: 1px solid #eaeaea;
    //opacity: 10%;
  }
}
